.textEllipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.textEllipsis2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.textEllipsis3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

em {
  background-color: yellow; /* 背景色 */
  color: red;               /* 字体颜色 */
  font-weight: bold;        /* 加粗 */        /* 内边距 */
  border-radius: 3px;      /* 圆角效果 */
}
